<div class="ui basic segment" *ngIf="invoice">

  <h2 class="ui header center aligned">
    &#8358; {{(paymentSummary.amount)|number}}
  </h2>

  <div class="ui basic segment" *ngIf="paymentSummary" [class.loading]="!paymentItems">
    <table class="ui table" *ngIf="paymentItems">
      <thead>
        <tr>
          <th class="ten wide">Description</th>
          <th class="right aligned six wide">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paymentItems">
          <td class="eight wide">{{item.description}}</td>
          <td class="eight wide right aligned"> &#8358; {{(item.amount/100)|number}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui horizontal divider">
    Pay via
  </div>
  <div class="payment-platform-items">
    <div class="payment-platform">
      <a  class="ui orange massive image label" target="_blank" [href]="crpUrl(['payment', paymentSummary.id, 'remita'])" (click)="handlePaymentStart()">
        <img src="assets/images/remita-payment-logo-vertical.png"> Remita
      </a>
      <a style="border: solid 1px brown;"  class="ui brown massive image label" target="_blank" [href]="crpUrl(['payment', paymentSummary.id, 'nibss'])" (click)="handlePaymentStart()">
        <img src="assets/images/NIBSS-logo.jpg"> NIBSS
      </a>
    </div>
  </div>
</div>