.extra{
    margin-top: 48px;
}

.payment-platform-items{
    text-align: center;
}

@media screen and (max-width: 768px){
    .payment-platform{
        display: block;
        text-align: center;
    }
}

.ui.header{
    padding-top: 48px;
}

.ui.table{
    max-width: 800px;
    margin: 0 auto;
}