<div class="root">
  <h2 class="ui image header center aligned">
    <div class="content">
      Log-in to your account
    </div>
  </h2>

  <div class="ui attached error message" *ngIf="error">
    {{error}}
  </div>

  <form class="ui large form" [formGroup]="form" (submit)="submit()">

    <div class="ui segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="Username" placeholder="Username" formControlName="username" [class.error]='username.touched && !username.valid'>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password" formControlName="password" [class.error]='password.touched && !password.valid'>
        </div>
        <span class="forgot-password-link">Forgot password? <a [routerLink]='["/forgot-password"]'>click here</a></span>
      </div>
      <button type="submit" class="ui fluid large primary submit button" [class.disabled]="form.invalid || loading">
              <i class="notched circle loading icon" *ngIf="loading"></i>
              Login</button>
    </div>
  </form>

  <div class="ui message alt">
    New to us? <a [routerLink]='["/signup"]'>Sign Up</a>
  </div>
</div>