<div class="two fields" [formGroup]="form">
  <div class="field required" [class.error]="isInvalid('identityType')">
    <label>Type</label>
    <select class="ui fluid dropdown" formControlName="identityType" [compareWith]="equals">
      <option value="">-Select Type-</option>
      <option [ngValue]="type" *ngFor="let type of identityTypes">{{type.name}}</option>
    </select>
  </div>
  <!-- <div class="five wide field" [class.error]="isInvalid('identityState')">
    <label>State (where applicable)</label>
    <select class="ui fluid dropdown" formControlName="identityState" [compareWith]="equals">
      <option value="">-Select State-</option>
      <option [ngValue]="state" *ngFor="let state of states">{{state.name}}</option>
    </select>
  </div> -->
  <div class="field required" [class.error]="isInvalid('identityNumber')">
    <label>Number</label>
    <input name="identityNumber" formControlName="identityNumber" placeholder="Identity Number">
    <div ngxErrors="identityNumber">
      <div ngxError="pattern" class="input-error-message">
        Only alphabets, / and - characters are allowed
      </div>
    </div>
  </div>
</div>