<div *ngIf="user && !user.emailAddressVerified">

  <div *ngIf="user.userId">
    <div class="ui warning center aligned message">
      <div class="header">
        You have not verified your email address.
      </div>
      <p>Follow the link sent to your email or request a new confirmation mail
        <a href="" (click)="resendVerificationMail()" *ngIf="!sendingVerificationMail">here</a>
        <i class="notched circle loading icon" *ngIf="sendingVerificationMail"></i>
        .</p>
    </div>
    <div class="ui success message" *ngIf="verificationMailSent">
      <div class="header">
        Account Verification Email Sent
      </div>
    </div>
  </div>

  <div *ngIf=" !user.userId">
    <div class="ui center aligned icon message">
      <i class="notched circle loading icon" *ngIf="sendingVerificationMail"></i>
      <div class="content">
        <p class="header">
          You are almost done.
        </p>
        <div>A link has been sent to
          <em>{{user.email}}</em>. Follow the link to confirm your email address.</div>
        <div *ngIf="!sendingVerificationMail">Did not get the mail?
          <a href="" (click)="resendVerificationMail()">click here</a> to resend.
        </div>
      </div>
    </div>
    <div class="ui success message" *ngIf="verificationMailSent">
      <div class="header">
        Account Verification Email Sent
      </div>
    </div>
  </div>

</div>