<td>&#8358; {{(payment.amount)|number}}</td>

<td [attr.title]="payment.dateCreated|date:'medium'" *ngIf="payment.dateCreated">{{payment.dateCreated|date}}</td>
<td *ngIf="!payment.dateCreated">N/A</td>

<td>{{payment.referenceId||'N/A'}}
  <span *ngIf="payment.teller">(RRR: {{payment.teller}})</span>
  <span *ngIf="payment.teller">(CPAY REF: {{payment.teller}})</span>
</td>
<td>
  <span *ngIf="!isSuccessful()">
    {{isPending()?'Pending':'Not Paid'}}
    <span *ngIf="lastUpdated()" [attr.title]="lastUpdated()|date:'medium'">(last updated {{lastUpdated()|newness}})</span>
  </span>
  <span *ngIf="isSuccessful()">
    <i class="icon green checkmark"></i> Paid
  </span>
</td>
<td>
  <button type="button" (click)="refresh($event)" class="ui primary submit button" [class.disabled]="working" *ngIf="!isSuccessful()">
    <i class="notched circle loading icon" *ngIf="working"></i>
    Check Status</button>
  <a [href]="payment|receiptDownloadUrl" target="_blank" title="Download Receipt" *ngIf="isSuccessful()">
    <i class="download icon"></i> Download Receipt
  </a>
</td>