button{
    background: none;
}

.ui.basic.button{
    box-shadow: none;
    padding: 0;
    border: none;
    margin: 0 .25rem 0 0 !important;
}

.ui.active.loader{
    margin: 0 .25rem 0 0;
    width: 1.18em;
    min-width: 16.51px;
    min-height: 16.8px;
}

.icon.refresh{
    margin: 0 !important;
}