<div [formGroup]="form" class="ui form" [class.loading]="loading">
  <div class="three fields">
    <div class="required field" [class.error]="isInvalid('country')">
      <label>Country</label>
      <select formControlName="country" [compareWith]="equals">
        <option [ngValue]="''">-Select Country-</option>
        <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
      </select>
    </div>
    <div class="field" [class.error]="isInvalid('state')" [class.required]="isResidentInNigeria()">
      <label>State</label>
      <select formControlName="state" [compareWith]="equals" [attr.disabled]="isResidentInNigeria()?null:true">
        <option [ngValue]="''">-Select State-</option>
        <option [ngValue]="state" *ngFor="let state of states">{{state.name}}</option>
      </select>
    </div>
    <div class="required field" [class.error]="isInvalid('city')">
      <label>City</label>
      <input name="city" placeholder="City" formControlName="city">
    </div>
  </div>
  <div class="required field" [class.error]="isInvalid('address')">
    <label>Address</label>
    <textarea placeholder="Address" formControlName="address"></textarea>
  </div>
</div>