<div>
  <div class="ui stackable grid">
    <div class="four wide column">
      <div class="ui top left attached label">House Number</div>
      <div class="ui basic segment">{{getProperty('houseNumber')||'N/A'}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label">Street Name</div>
      <div class="ui basic segment">{{getProperty('streetName')||'N/A'}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label">Street Extension</div>
      <div class="ui basic segment">{{getProperty('streetExtension')||'N/A'}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label">City District</div>
      <div class="ui basic segment">{{getProperty('cityDistrict')||'N/A'}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label">City</div>
      <div class="ui basic segment">{{getProperty('city')||'N/A'}}</div>
    </div>
    <div class="four wide column" *ngIf="hasProperty('state')">
      <div class="ui top left attached label">State</div>
      <div class="ui basic segment">{{getState()}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label">Country</div>
      <div class="ui basic segment">{{getCountry()||'N/A'}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label">PMB / P.O BOX</div>
      <div class="ui basic segment">{{getProperty('pmb')||'N/A'}}</div>
    </div>
    <div class="four wide column">
      <div class="ui top left attached label" title="Care of">CO</div>
      <div class="ui basic segment">{{getProperty('careOf')||'N/A'}}</div>
    </div>
  </div>
</div>
<div class="ui bottom attached" *ngIf="hasProperty('additionalInformation')">
  <i class="info icon" title="Additional Information"></i> {{getProperty('additionalInformation')}}
</div>