<div class="ui pagination menu" *ngIf="pager && pager.totalPages>1">
  <a class="icon item" [class.disabled]="pager.isFirstPage()" (click)="previous()">
    <i class="left chevron icon"></i>
  </a>
  <a class="item page-index" *ngFor="let page of pager.pages()" (click)="requestPage(page)" [class.active]="page === pager.currentPage"
    [ngClass]="{'hidden-xs': hideOnSmallScreen(page)}">{{page}}</a>
  <a class="icon item" [class.disabled]="pager.isLastPage()" (click)="next()">
    <i class="right chevron icon"></i>
  </a>
</div>