<div class="ui basic segment" *ngIf="loading">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Please wait...</div>
  </div>
</div>

<div class="ui icon success message" *ngIf="usedToken && !errorMessage">
  <i class="checkmark icon"></i>
  <div class="content">
    <p class="header">
      Congratulations!
    </p>
    <div>Your email address has been verified and your registration is now complete.</div>
    <div *ngIf="!user"><a [routerLink]='["/login"]'>Click here</a> to login</div>
  </div>
</div>

<div class="ui icon error message" *ngIf="usedToken && errorMessage">
  <div class="content">
    <div class="header">
      We're sorry we couldn't verify your email
    </div>
    <p *ngIf="badToken">The token is either invalid or expired.</p>
    <p *ngIf="!badToken">{{errorMessage}}.</p>
  </div>
</div>