.ui.icon.input>i.flag {
    cursor: default;
    position: absolute;
    line-height: 1;
    top: 0;
    left: 0px;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    font-size: 1em;
    
    font-family: Icons;
    font-style: normal;
    font-weight: 400;

    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.ui.icon.input>i.flag:after, .ui.icon.input>i.flag:before {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 100%;
    margin-top: -.5em;
}