<div class="two fields" [formGroup]="form">
  <div class="required field" [class.error]="isInvalid('phoneNumber')">
    <label>Phone Number</label>
    <input type="tel" name="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
    <div ngxErrors="phoneNumber">
      <div ngxError="pattern" class="input-error-message">
        Enter a valid phone number
      </div>
    </div>
  </div>
  <div class="required field" [class.error]="isInvalid('email')">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email" formControlName="email">
  </div>
</div>